/*.nav-items{
display: flex;
flex-direction: row;
gap: 50px;
font-size: 50px;
justify-content: right;
color: azure;
}*/

.nav-items {
    align-items: center;
    position: relative;
    bottom: 80px;
    font-size: 20px;
    color: white;
}

.logo{
background: url(https://i.pinimg.com/474x/69/57/7d/69577dde4b83f8236462911a28744cb0.jpg);
background-size: cover;
background-repeat: no-repeat;
text-align: center;
}


h1{
color: white;

}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/474x/69/57/7d/69577dde4b83f8236462911a28744cb0.jpg);
}

header {
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 1em;
}

main {
    padding: 2em;
}

#current-weather, #forecast, #about-us, #featured-locations {
    margin-bottom: 2em;
    border: 1px solid #ccc;
    padding: 1em;
}

#weather-display {
    text-align: center; /* Center the weather information */
}

#weather-icon {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    margin-top: 10px;
}

.location-card {
    border: 1px solid #ddd;  /* Light border for the cards */
    padding: 10px;           /* Some padding inside the cards */
    margin: 10px;            /* Margin between the cards */
    display: inline-block; /* Make them sit side by side */
    width: 200px;          /* Set a width for the cards */
    text-align: center;    /* Center the content */
    vertical-align: top;  /* Align cards to the top*/
}

.location-card img {
    max-width: 100%;   /* Make image responsive */
    height: auto;      /* Maintain aspect ratio */
}


footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: relative; /* or absolute */
    bottom: 0; /* or adjust as needed */
    width: 100%;
}